:root {
    --color-white: #FFFFFF;
    --color-gray: #C0C0C0;
    --color-blue: #167BF7;
    --color-blue-hover: #3c92fa;
    --color-background: #00030C;
    --font-main: 'Inter';
}

body {
    background-color: var(--color-background);
    color: var(--color-white);
    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

/* Hero Section */
.hero {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.hero__box {
    margin: 0 6em;
}

.hero__title {
    font-size: 28px;
    font-weight: 700;
}

.hero__image {
    margin: 1em 0 2em 0;
}

.hero__note {
    font-size: 12px;
    color: var(--color-gray);
}

/* Buttons */
.button {
    border-radius: 5px;
    padding: 1em;
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
    text-align: center;
}

.button--primary {
    background-color: var(--color-blue);
    color: var(--color-white);
}

.button--secondary {
    background-color: transparent;
    border: 2px solid var(--color-white);
    color: var(--color-white);
}

.button--primary:hover,
.feature__button:hover {
    background-color: var(--color-blue-hover);
    color: var(--color-background);
}

/* Feature Sections */
.feature {
    align-items: center;
    margin: 0 10em;
}

.feature__image {
    width: 80%;
}

.feature__content {
    padding: 2em;
}

.feature__title {
    font-weight: 700;
    font-size: 48px;
    color: var(--color-white);
    margin-bottom: 0.1em;
}

.feature__text {
    color: var(--color-gray);
}

.feature__button {
    display: inline-block;
    margin-top: 1em;
}

/* Devices Section */
.devices {
    text-align: center;
}

.devices__title {
    font-size: 48px;
    color: var(--color-white);
}

.devices__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.devices__item {
    margin: 0 1.5em;
}

.devices__label {
    font-size: 32px;
    color: var(--color-white);
}

/* Footer */
.footer {
    text-align: center;
    margin: 5em 3em;
}

.footer__logo {
    margin-bottom: 1em;
}

.footer__links {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
    flex-wrap: wrap;
}

.footer__item a {
    text-decoration: none;
    color: var(--color-white);
    margin: 0 0.75em;
}

.footer__item a:hover {
    color: var(--color-blue);
}

.footer__item a:active {
    color: purple;
}

.footer__text {
    margin: 1em 0;
    color: var(--color-gray);
    font-size: 14px;
}

@media (max-width: 992px) {
    .container {
        display: block;
        background-image: none;
    }

    .hero__image {
        width: 50%;
    }

    .hero__box {
        margin: 2em 2em;
    }
}